@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;


    
    .totop{
        position: absolute;
        margin-top: spCalc(-120);
        width: spCalc(96);
        margin-left: spCalc(327);
        transform: scale(0,0);
        opacity: 0;
        top: 0;
        left: 0;
        transition: transform 0.6s .5s cubic-bezier(0.34, 1.56, 0.64, 1),opacity .2s .5s ease;
        @include pc{
            margin-top: pcCalc(-85);
            width: pcCalc(56);
            margin-left: pcCalc(662); 
        }
    }
    .footer-people{
        top: 0;
        left: 0;
        line-height: 0;
        width: spCalc(99.62);
        margin-top: spCalc(-69.88);
        margin-left: spCalc(326);
        position: absolute;
        z-index: 15;
        opacity: 0;
        transition: opacity .3s ease;
        img{
            animation: pyon 3s linear infinite;
        }
        @include pc{
            width: pcCalc(59.77);
            margin-top: pcCalc(-57);
            margin-left: pcCalc(670);
        }
    }

    .footer{
        &.move{
            .totop{
            opacity: 1;
            transform: scale(1,1);   
            }
            .footer-map-p{
                opacity: 1;
            }
            .footer-people{
                opacity: 1;
            }
        }
    }


.footer{
    margin-top: spCalc(180);
    padding-top: spCalc(189);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/sp-foot-bg.png);
    
    .footer-anchor-list{
        display: flex;
        align-items: center;
        vertical-align: middle;
        width: spCalc(628);
        margin: 0 auto;
        justify-content: space-between;
        font-size: spFont(40);
        a{
            white-space: nowrap;
            color: #fff;
            line-height: 1; 
            display: block;
        }
        .anchor_how{
            transform: rotate(0deg);
            transition: transform .5s ease;
        }
        .anchor_field{
            transform: rotate(0deg);
            transition: transform .5s ease;
        }
    }
    &.move{
        .anchor_how{
            transform: rotate(5deg);
        }
        .anchor_field{
            transform: rotate(-5deg);
        }
        .footer-ill{
            .footer-map{
                transform: translateY(0);
            }
        }
        .footer_p{
            opacity: 1;
        }
    }
    .footer-ttl-wrap{
        .footer-subttl{
            font-size: spFont(30);
            text-align: center;
            color: #fff;
            line-height: calc(45 / 30);
            margin-top: spCalc(101);
            white-space: nowrap;
        }
        
        .footer-ttl{
            width: spCalc(368);
            margin: 0 auto{
                top: spCalc(20);
            }
            line-height: 0;
        
        }
    }
    
    .footer-ill{
        position: relative;
        width: 100%;
        line-height: 0;
        margin-top: spCalc(50);
    }
    @include pc{
        margin-top: pcCalc(150);
        padding-top: 0;
        background-image: url(../img/pc-foot-bg.png);

        .footer-anchor-list{
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: pcCalc(165.32);
            margin: 0{
                right:pcCalc(100); 
            };
            font-size: min(pcFont(30),30px);

            li{
                margin-top: calc(30 / 165.32) * 100%;
            }
            .anchor_how{
                padding-left: calc(27.7 / 165.32) * 100%;
            }
            .anchor_field{
                padding-left: calc(27.7 / 165.32) * 100%;
            }
        }
        .footer-ttl-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: pcCalc(184);
            margin: 0{
                top: pcCalc(103);
                left: pcCalc(100);
            };
            .footer-subttl{
                font-size: min(spFont(16),16px);
                line-height: calc(26 / 16);
                margin-top: 0;
            }
            .footer-ttl{
                width: 100%;
                max-width: 184px;
                margin: 0 auto{
                    top: calc(10 / 184) * 100%;
                }
            }
        }
        
        .footer-ill{
            width: pcCalc(507);
            max-width: 507px;
            line-height: 0;
            margin: 0 auto;
            padding-top: pcCalc(180);
            overflow: hidden;
            .footer-map{
                transform: translateY(300%);
                transition: transform 2s linear;
            }   
            
        }
    }
}

.footer_p{
    position: absolute;
    width: spCalc(132);
    top: 0;
    right: 0;
    margin-right: spCalc(265);
    margin-top: spCalc(10);
    animation: aruku 3s ease infinite;
    line-height: 0;
    opacity: 0;
    transition: opacity 1s 2s linear;
    @include pc{
        width: calc(94 / 507) * 100%;
        max-width: 94px;
        margin-right: calc(185 / 507) * 100%;
        margin-top: calc(185 / 507) * 100%;

    }
}