@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.yamaasobu_modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    pointer-events: none;
    // visibility: hidden;
    // transition: all .5s ease;
    background-color: #fff;
    &.open{
        // visibility: visible;
        pointer-events: visible;
    }
}


.modal_close{
    cursor: pointer;
    position: fixed;
    z-index: 600;
    width: spCalc(170);
    top: 0;
    right: 0;
    border: solid 1px #DBDBDB;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding: spCalc(20) 0;
    margin: 0{
        top: spCalc(60);
        right: spCalc(60);
    };
    p{
        font-size: spFont(24);
        line-height: 1;
    }
    .close-btn{
        width: 10px;
        line-height: 0;
        margin-left: 5px;
        transform: rotate(0);
        transition: transform .5s ease;
    }
    &:hover{
        .close-btn{
            transform: rotate(180deg);
        }
    }
    @include pc{
        width: pcCalc(100);
        max-width: 100px;
        padding: 10px 0;
        margin: 0{
            top: pcCalc(50);
            right: pcCalc(100);
        };
        p{
            font-size: min(pcFont(14),14px);
        }
        .close-btn{
            width: calc(14 / 100) * 100%;
            max-width: 14px;
        }
    }
}

.yamaasobu_modal_list{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .yamaasobu_modal_content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        pointer-events:none;
        transform: opacity .8s ease;
        &.show{
            opacity: 1;
            pointer-events:visible;
        }
        @include pc{
            display: flex;
            align-items: flex-start;
            vertical-align: baseline;
            justify-content: space-around;
            // gap: pcCalc(185);
        }
    }
}

.yamaasobu_modal_inner{
    @include pc{
        width: pcCalc(530);
        margin-top: pcCalc(180);
    }
}

.reccomend_item-line{
    margin:0 auto{
        top: spCalc(160);
    };
    overflow: hidden;
    width: 90%;
    font-weight: 600;
    
    .reccomend_item-inner{
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        .reccomend_item{
            display: flex;
            vertical-align: middle;
            align-items: center;
            flex-wrap: nowrap;
            &:first-of-type {
                animation: loop5 50s -25s linear infinite;
            }
            &:last-of-type {
                animation: loop6 50s linear infinite;  
            }
            gap: 10px;
            p{
                font-size: spFont(36);
                line-height: 1; 
                white-space: nowrap;
            }
            .arrow{
                width: 15px;
                line-height: 0;
            }
        }
    }
    @include pc{
        margin:0 auto;
        width: 80%;
        .reccomend_item-inner{
            .reccomend_item{
                p{
                    font-size: min(pcFont(20),20px);
                }
                .arrow{
                    width: 15px;
                }
            }
        }        
    }

}

.modal-head{
    .map-point-num{
        font-size: spFont(80);
        color: c.$txt; 
        line-height: 1;
        padding: 0{
            top: spCalc(120);
            left: spCalc(120);
        };
    }

    .map-point-ill{
        position: relative;
        line-height: 0;
        width: spCalc(400);
        margin: 0 auto{
            top: spCalc(30)
        };
        .point-img{
            border: solid 1px #000;
            border-radius: 50%;
        }
    }
    .situation_ja,.situation_en{
        color: c.$txt;
        line-height: 1;
        text-align: center;
        display: block;
    }
    .situation_ja{
        font-size: spFont(36);
        margin-top: spCalc(50)
    }
    .situation_en{
        font-size: spFont(24);
        margin-top: spCalc(20)
    }

    .map-posint-txt{
        width: spCalc(630);
        font-size: spFont(28);
        line-height: 42 / 28;
        margin: 0 auto{
            top: spCalc(50)
        };
    }
    @include pc{
        position: sticky;
        top: pcCalc(200);
        width: pcCalc(300);
        max-width: 400px;
        // margin-top: pcCalc(200);
        .map-point-num{
            font-size: min(pcFont(50),50px);
            color: c.$txt; 
            line-height: 1;
            padding: 0;
        }
    
        .map-point-ill{
            width: calc(200 / 300) * 100%;
            margin: 0 auto;
        }
        .situation_ja{
            font-size: min(pcFont(20),20px);
            margin-top: calc(41 / 300) * 100%;
        }
        .situation_en{
            font-size: min(pcFont(12),12px);
            margin-top: calc(10 / 300) * 100%;
        }
    
        .map-posint-txt{
            width: 100%;
            font-size: min(pcFont(16),16px);
            line-height: calc(24 / 16);
            margin: 0 auto{
                top: calc(30 / 300) * 100%;
            };
        }
    }
}


.items-list-wrap{
    margin-top: spCalc(20);
    .clothes-kind{
        display: flex;
        vertical-align: bottom;
        align-items: flex-end;
        justify-content: space-between;
        width: spCalc(690);
        border-bottom: dotted #000 1.5px;
        margin: 0 auto{
            top: spCalc(100)
        };
        line-height: 1;
        padding-bottom: 10px;
        span{
            display: block;   
            &:first-of-type{
                font-size: spFont(36);
                font-weight: 600;
            }
            &:last-of-type{
                font-size: spFont(30);
            }
        }
    }
    @include pc{
        margin-top: calc(70 / 530) * 100%;
        .clothes-kind{
            width: 100%;
            vertical-align: middle;
            align-items: center;
            margin: 0 auto{
                top: calc(80 / 530) * 100%;
            };
            span{
                &:first-of-type{
                    font-size: min(pcFont(20),20px);
                }
                &:last-of-type{
                    font-size: min(pcFont(14),14px);
                }
            }
        }        
    }
}

.yamaasobu_modal_item-list{
    display: flex;
    vertical-align: baseline;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: spCalc(40);
    margin-top: spCalc(30);
    
    li{
        position: relative;
       width: spCalc(295); 
       margin-top: spCalc(50);
       a{
        color: #2A2525;
       }
       .clothes-ph{
        line-height: 0;
       }
       .item-name{
        font-size: spFont(26);
        line-height: calc(39 / 26);
        margin-top: calc(20 / 295) * 100%;
       }
       .item-price{
        font-size: spFont(24);
        line-height: 1;
        margin-top: calc(20 / 295) * 100%;
        color: #BABABA;
       }
    }
    @include pc{
        justify-content: space-between;
        gap: 0;
        margin-top: 0;
        li{
            width: calc(245 / 530) * 100%; 
            margin-top: calc(50 / 530) * 100%;
            
            .item-name{
             font-size: min(pcFont(16),16px);
             margin-top: calc(20 / 530) * 100%;
            }
            .item-price{
             font-size: min(pcFont(16),16px);
             margin-top: calc(20 / 530) * 100%;
            }
         }
    }
}

.item-point{
    width: 118px;
    background: c.$txt;
    border-radius: 10px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0{
        right: 15px;
        top: -15px
    };
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 80%;
        border-style: solid;
        border-width: 5px 0 0 8px;
        border-color: #dd2f0e transparent transparent;
        translate: calc(-50% + 0.9px) 100%;
        transform: skew(8deg);
        transform-origin: top;
    }
    p{
        color: #fff;
        line-height: 1;
        white-space: nonwrap;
        text-align: center;
        font-size: spFont(22);

    }
    @include pc{
        width: 126px;
        p{
            font-size: min(pcFont(12),12px);
        }
    }
}

.map-point-people{
    line-height: 0;
    position: absolute;
    top: 0;

}

.modal_1{
    .map-point-people{
        width: calc(116.81 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(120 / 400) * 100%;
            right: calc(76 / 400) * 100%;
        };
        img{
            animation: aruku 5s ease infinite;
            transform-origin: bottom center;
        }
    }
}

.modal_2{
    .map-point-people1{
        width: calc(120.05 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(106 / 400) * 100%;
            right: calc(148 / 400) * 100%;
        };
        img{
                animation: pyon 5s linear infinite;
        }
    }
    .map-point-people2{
        width: calc(87.53 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(160 / 400) * 100%;
            right: calc(70 / 400) * 100%;
        };
        img{
            animation: pyon 5s 2.5s linear infinite;
        }
    }
}

.modal_3{
    .map-point-people{
        width: calc(126.54 / 400) * 100%;
        left: 0;
        margin: 0{
            top: calc(100 / 400) * 100%;
            left: calc(70 / 400) * 100%;
        };
        img{
            animation: pyon 3s linear infinite;
        }
    }
}


.modal_4{
    .map-point-people1{
        width: calc(117.04 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(80 / 400) * 100%;
            right: calc(170 / 400) * 100%;
        };
        img{
                animation: aruku 5s linear infinite;
        }
    }
    .map-point-people2{
        width: calc(119.53 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(120 / 400) * 100%;
            right: calc(62 / 400) * 100%;
        };
        img{
            animation: aruku 5s 2.5s linear infinite;
        }
    }
}

.modal_5{
    .map-point-people1{
        width: calc(112.68 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(98 / 400) * 100%;
            right: calc(116 / 400) * 100%;
        };
        img{
                animation: aruku 5s linear infinite;
        }
    }
    .map-point-people2{
        width: calc(81.23 / 400) * 100%;
        left: 0;
        margin: 0{
            top: calc(165 / 400) * 100%;
            left: calc(101 / 400) * 100%;
        };
        animation: pyon 5s ease infinite;
        img{
            animation: aruku 5s 2.5s linear infinite;
        }
    }
}

.modal_6{
    .map-point-people1{
        width: calc(126.91 / 400) * 100%;
        left: 0;
        margin: 0{
            top: calc(109.8 / 400) * 100%;
            left: calc(92 / 400) * 100%;
        };
        animation: aruku 9s linear infinite;
        img{
            animation: hashiru 9s linear infinite;
        }
    }
    .map-point-people2{
        width: calc(132.31 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(134 / 400) * 100%;
            right: calc(78 / 400) * 100%;
        };
        animation: aruku 9.1s linear infinite;
        img{
            animation: hashiru 9.05s linear infinite;
        }
    }
}

.modal_7{
    .map-point-people1{
        width: calc(128.98 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(80.4 / 400) * 100%;
            right: calc(138.7 / 400) * 100%;
        };
        animation: aruku 4s linear infinite;
        
    }
    .map-point-people2{
        width: calc(104.64 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(155.92 / 400) * 100%;
            right: calc(38.95 / 400) * 100%;
        };
        animation: aruku 4s 1s linear infinite;
    }
}

.modal_8{
    .map-point-people{
        width: calc(143.58 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(22.78 / 400) * 100%;
            right: calc(124 / 400) * 100%;
        };
        animation: pyon2 2s cubic-bezier(0.55, 0, 1, 0.45) infinite;
        
    }    
}


.modal_9{
    .map-point-people1{
        width: calc(88.66 / 400) * 100%;
        right: 0;
        margin: 0{
            top: calc(66.4 / 400) * 100%;
            right: calc(106.4 / 400) * 100%;
        };
        animation: aruku 4s linear infinite;
        
    }
    .map-point-people2{
        width: calc(98.52 / 400) * 100%;
        left: 0;
        margin: 0{
            top: calc(184.67 / 400) * 100%;
            left: calc(98.89 / 400) * 100%;
        };
        animation: aruku 4s 1s linear infinite;
    }
}


.modal_10{
    .map-point-people{
        width: calc(128.07 / 400) * 100%;
        left: 0;
        margin: 0{
            top: calc(50.58 / 400) * 100%;
            left: calc(84.86 / 400) * 100%;
        };
        img{
            transform-origin: top center;
            animation: aruku 3s linear infinite;
        }
        
    }    
}
