@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;


.yamaasobu_mv{
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;

    .mv_word-wrap{
        margin-top: spCalc(50);
        text-align: center;
        .subttl{
            font-size: spFont(36);
            font-weight: 600;
            overflow: hidden;
            span{
                display: inline-block;
                transform: translateY(100px);
                transition: transform .5s linear;
            }
            
            &.show{
                &.subttl_above{
                    span{
                        transform: translateY(0);
                        &:nth-of-type(2){
                            transition-delay: .4s;
                        }
                        &:nth-of-type(3){
                            transition-delay: .8s;
                        }
                    }
                }
                &.subttl_bottom{
                    span{
                        transform: translateY(0);
                        transition-delay: 1.2s;
                    }
                }
            }
        }

        
        
        @include pc{
            margin-top: pcCalc(50);
            .subttl{
                font-size: min(pcFont(24),24px);
            }
            // .ttl{
            //     width: pcCalc(320);
            //     max-width: 320px;
            //     margin: 0 auto{
            //         top: pcCalc(24);
            //     };
            // }
        }
    }
    

}

// .ttl{
//     line-height: 0;
//     position: relative;
//     width: spCalc(320);
//     margin: 0 auto{
//         top: spCalc(30);
//     };
//     .ttl_img{
//         opacity: 0;
//         transition: all .5s 1.5s ease;
//     }

//     .svg_ttl{
//         position: absolute;
//         width: 100%;
//         top: 0;
//         left: 0;
//         line-height: 0;  
//         opacity: 1;
//         transition: all .2s 1.5s ease;

//     }

//     svg{
//         position: absolute;
//         width: 100%;
//         top: 0;
//         left: 0;
//         line-height: 0;  
//         height: fit-content;
//         aspect-ratio: 16 / 5;
//     }
//     &.show{
//         .ttl_img{
//             opacity: 1;
//         }
//         .svg_ttl{
//             opacity: 0;
//         }
//         .svg-elem-1 {
//             -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
//                     animation: animate-svg-stroke-1 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
//         }
//         .svg-elem-2 {
//             -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s both;
//                     animation: animate-svg-stroke-2 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s both;
//         }
        
//         .svg-elem-3 {
//             -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.44s both;
//                     animation: animate-svg-stroke-3 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.44s both;        
//         }

//     }
    
// }

.ttl{
    font-size: spFont(100);
    text-align: center;
    line-height: 1;
    margin-top: spCalc(30);
    letter-spacing: -0.15em;
    span{
        display: inline-block;
        opacity: 0;
        transform: rotate(-8deg) translate(-3px, 0);
        &:nth-of-type(2){
            animation-delay: 0.3s;
        }
        &:nth-of-type(3){
            animation-delay: 0.6s;
        }

    }
    &.show{
        span{
            animation-name: text-kata;
            animation-duration:  0.5s;
            animation-fill-mode: forwards;
        }
    }
    @include pc{
        font-size: min(pcFont(100),100px);
        
        margin: 0 auto{
            top: pcCalc(24);
        };
    }
}



.three_bu-wrap{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    width: spCalc(390);
    position: relative;
    overflow: hidden;
    transform: scale(0, 1);
    transition: transform .7s cubic-bezier(0.83, 0, 0.17, 1);
    margin: 0 auto{
        top: spCalc(30);
    };
    .side{
        font-size: spFont(50);
    }
    @include pc{
        width: pcCalc(260);
        max-width: 260px;
        margin: 0 auto{
            top: pcCalc(20);
        };
        .side{
            font-size: min(pcFont(30),30px);
        }
    }
    &.show{
        transform: scale(1, 1);
        .rotating-text{
            opacity: 1;
        }
    }
}


.rotating-text {
    font-size: spFont(30);
    color: #000;
    opacity: 0;
    transition: opacity .5s .7s ease;
    p {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
        justify-content: center;
        .word {
            position: absolute;
            display: flex;
            opacity: 0;
            .letter {
                transform-origin: center center 25px;
                &.out {
                    transform: rotateX(90deg);
                    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
                }

                &.in {
                    transition: 0.38s ease;
                }

                &.behind {
                    transform: rotateX(-90deg);
                }
            }
        }
    }
    @include pc{
        font-size: min(pcFont(20),20px);
    }
}



.mv-swiper{
    width: spCalc(670);
    text-align: center;
    padding-bottom: spCalc(83)!important;
    margin: 0 auto{
        top: spCalc(71);
    };
    @include pc{
        position: relative;
        width: pcCalc(1082);
        max-width: 1082px;
        margin: 0 auto{
            // top: pcCalc(60);
            top: pcCalc(30);
        };
    }
    a{
        color: #000;
    }
    
    .item_ph{
        margin: 0 auto;
        transform: translateY(120px) rotate(-45deg);
        opacity: 0;
        transition: transform .8s linear,opacity .3s ease;
        width: spCalc(500);
        @include pc{
            width: calc(400 / 1082) * 100%;
            max-width: 400px;
        }
    }

    
    &.show{
        .mv-swiper-text-wrap,
        .swiper-pagination,
        .swiper-button-prev,
        .swiper-button-next{
            opacity: 1;
        }
        .item_ph{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
    }

    .mv-swiper-text-wrap{
        opacity: 0;
        transition: opacity .5s 1s ease;
        .mv_swiper-ttl{
            margin-top: spCalc(60);
            font-size: spFont(40);
            line-height: 1;
        }    

        .mv_swiper-text{
            margin-top: spCalc(30);
            line-height: calc(36 / 24);
            font-size: spFont(24);
        }  
        @include pc{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            .mv_swiper-ttl{
                text-align: left;
                font-size: min(pcFont(24),24px);
            }
            .mv_swiper-text{
                text-align: left;
                font-size: min(pcFont(16),16px);
            }
        }
    }  

    .swiper-pagination{
        opacity: 0;
        transition: opacity .5s 1s ease;
        bottom: 0!important;
        @include pc{
            bottom: unset!important;
            top: 0;
            left: unset;
            right: 0;
            width: fit-content;
            margin-top: calc(182 / 1082) * 100%;
            margin-right: calc(126 / 1082) * 100%;
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        opacity: 0;
        transition: opacity .5s 1s ease;
        top: 29% !important;
        @include pc{
            top: 0!important;
            height: 32px;
            right: 0!important;
            left: unset!important;
            margin-top: calc(180 / 1082) * 100%;
            width: calc(52 / 1082) * 100%;
            max-width: 52px;
        }
    }

    .swiper-button-next{
        @include pc{
            margin-right: calc(52 / 1082) * 100%;
        }
    }
    .swiper-button-prev{
        @include pc{
            margin-right: calc(195 / 1082) * 100%;
        }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 47.5px;
        width: 22.5px;
        margin: auto;
        display: block!important;
        opacity: 1!important;
        @include pc{
            height: 100%;
            width: 100%;
        }
    }
    .swiper-button-prev{
        &::after {
            left: 0;
            background-image: url(../img/prev.png);
            @include pc{
                right: 0!important;
                background-image: url(../img/mv-prev.png);
                transition: all .3s ease;
            }
            
        }
        &:hover{
            &::after{
                @include pc{
                    background-image: url(../img/mv-prev-hover.png);
                }
            }
        }
    }
    .swiper-button-next{
        &::after {
            right: 0;
            background-image: url(../img/next.png);
            @include pc{
                background-image: url(../img/mv-next.png);
                transition: all .3s ease;
            }
        }
        &:hover{
            &::after {
                @include pc{
                    background-image: url(../img/mv-next-hover.png);
                }
            }
        }
    }
}

.mv_line{
    width: spCalc(630);
    margin: 0 auto{
        top: spCalc(177);
    };
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    @include pc{
        width: 90%;
    }
    .line-wrap{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 12px;  
        &:first-of-type {
            animation: loop 50s -25s linear infinite;
        }
        &:last-of-type {
            animation: loop2 50s linear infinite;  
        }
    }
    .line-txt{
        // flex-shrink: 0;
        white-space: nowrap;
        span{
            color: c.$txt;
        }
    }
    .line-ja{
        line-height: 1;
        font-weight: 600;
        font-size: spFont(40);
        .bound{
            display: inline-block;
            animation: 3s bound ease-in infinite alternate;
            @for $i from 0 through 4 {
                &:nth-child(#{$i + 1}) {
                  animation-delay: #{$i * 0.2}s;
                }
            }
        }
        
            
        @include pc{
            font-size: min(pcFont(40),40px);
        }
        
    }
    .line-en{
        text-align: center;
        padding-right: 5px;
        font-size: spFont(24);
        .bound{
            display: inline-block;
            animation: 3s bound ease-in infinite alternate;
            @for $i from 0 through 6 {
                &:nth-child(#{$i + 1}) {
                  animation-delay: #{$i * 0.2}s;
                }
            }
        }
        @include pc{
            font-size: min(pcFont(24),24px);
        }
    }
}

@keyframes bound{
    0%,20%,40%,100%{transform: translateY(0);}
    10%,30%{transform: translateY(-7px);}
  }

@keyframes bound-2{
    0%{transform: translateY(0);}
    100%{transform: translateY(3px);}
  }



/***************************************************
 * Generated by SVG Artista on 6/6/2025, 5:10:47 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 900.4954833984375px;
    stroke-dasharray: 450.24774169921875px;
  }

  100% {
    stroke-dashoffset: 450.24774169921875px;
    stroke-dasharray: 450.24774169921875px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 900.4954833984375px;
    stroke-dasharray: 450.24774169921875px;
  }

  100% {
    stroke-dashoffset: 450.24774169921875px;
    stroke-dasharray: 450.24774169921875px;
  }
}
  
@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2500.718505859375px;
    stroke-dasharray: 1250.3592529296875px;
  }

  100% {
    stroke-dashoffset: 1250.3592529296875px;
    stroke-dasharray: 1250.3592529296875px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2500.718505859375px;
    stroke-dasharray: 1250.3592529296875px;
  }

  100% {
    stroke-dashoffset: 1250.3592529296875px;
    stroke-dasharray: 1250.3592529296875px;
  }
}


@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2016.3748779296875px;
    stroke-dasharray: 1008.1874389648438px;
  }

  100% {
    stroke-dashoffset: 1008.1874389648438px;
    stroke-dasharray: 1008.1874389648438px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2016.3748779296875px;
    stroke-dasharray: 1008.1874389648438px;
  }

  100% {
    stroke-dashoffset: 1008.1874389648438px;
    stroke-dasharray: 1008.1874389648438px;
  }
}


