<div class="fixed-anchor_wrap">
    <div class="fixed-anchor_wrap-inner">
        <ul class="fixed-anchor"> 
            <li class="fixed-anchor-link">
                <a href="#map">
                    map
                </a>
            </li>
            <li class="fixed-anchor-link">
                <a href="#how">
                    how
                </a>
            </li>
            <li class="fixed-anchor-link">
                <a href="#do">
                    do
                </a>
            </li>
            <li class="fixed-anchor-link">
                <a href="#field">
                    field map
                </a>
            </li>
            <li class="fixed-item-link" id="item-link">
                item
            </li>
        </ul>
    </div>
    <div class="item-link_modal">
        <div class="item-link_modal-inner">
            <ul class="item-link_list">
                <li>
                    <a href="" target="_blank">
                        アウター
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        トップス
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        ボトムス
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        シューズ
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        バック
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        アクセサリー
                    </a>
                </li>
            </ul>
            <div class="related-items">
                山にまつわるアイテム
            </div>
        </div>
    </div>
</div>
