<div class="yamaasobu_mv">
    <div class="mv_word-wrap">
        <p class="subttl subttl_above">
            登る、知る、遊ぶ｡       
        </p>
        <p class="subttl subttl_bottom">
            頼りになる山仲間｡ 
        </p>
        <div class="ttl sic">
            <span>山</span><span>遊</span><span>部</span>
        </div>
        <div class="three_bu-wrap">
            <div class="side">{</div>
            <div class="three_bu sic">
                <span>ヤマアソブ</span>
            </div>
            <div class="side">}</div>
        </div>
    </div>
    <div class="mv-swiper swiper">
        <div class="swiper-wrapper mv-swiper-wrapper">
            <div class="swiper-slide item">
                <div class="item_ph item_ph1">
                    <img src="<%= rootURL %>/assets/img/mv_1.png" alt="">
                </div>
                <p class="mv_swiper-ttl">
                    map
                </p>
                <p class="mv_swiper-text">
                    多様な地形で楽しむアクティビティ｡<br>
                    シチュエーション別にアイテムを紹介｡
                </p>
            </div>
            <div class="swiper-slide item">
                <div class="item_ph item_ph2">
                    <img src="<%= rootURL %>/assets/img/dammy_1.jpg" alt="">
                </div>
                <p class="mv_swiper-ttl">
                    how
                </p>
                <p class="mv_swiper-text">
                    多様な地形で楽しむアクティビティ｡<br>
                    シチュエーション別にアイテムを紹介｡
                </p>
            </div>
            <div class="swiper-slide item">
                <div class="item_ph item_ph1">
                    <img src="<%= rootURL %>/assets/img/mv_1.png" alt="">
                </div>
                <p class="mv_swiper-ttl">
                    do
                </p>
                <p class="mv_swiper-text">
                    多様な地形で楽しむアクティビティ｡<br>
                    シチュエーション別にアイテムを紹介｡
                </p>
            </div>
            <div class="swiper-slide item">
                <div class="item_ph item_ph2">
                    <img src="<%= rootURL %>/assets/img/dammy_1.jpg" alt="">
                </div>
                <p class="mv_swiper-ttl">
                    field map
                </p>
                <p class="mv_swiper-text">
                    多様な地形で楽しむアクティビティ｡<br>
                    シチュエーション別にアイテムを紹介｡
                </p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</div>
<div class="mv_line">
    <div class="line-wrap">
        <p class="line-txt line-ja">&emsp;初めての人も知識のある人も<span>｢山で遊ぶ｣</span>がもっと楽しくなる｡</p>
        <p class="line-txt line-en">Whether you're a beginner or an experienced hiker, <br><span>"playing in the mountains" </span>will be more fun.</span></p>
    </div>
    <div class="line-wrap">
        <p class="line-txt line-ja">&emsp;初めての人も知識のある人も<span>｢山で遊ぶ｣</span>がもっと楽しくなる｡</p>
        <p class="line-txt line-en">Whether you're a beginner or an experienced hiker, <br><span>"playing in the mountains" </span>will be more fun.</span></p>
    </div>
</div>