<div class="yamaasobu_mv">
    <div class="mv_word-wrap">
        <p class="subttl subttl_above">
            <span>登る、</span><span>知る、</span><span>遊ぶ｡</span>
        </p>
        <p class="subttl subttl_bottom">
            <span>頼りになる山仲間｡ </span>
        </p>
        
        <div class="ttl sic">
            <span>山</span>
            <span>遊</span>
            <span>部</span>
        </div>
        <div class="three_bu-wrap">
            <div class="side">{</div>
            <div class="rotating-text sic">
                <p>
                    <span class="word show">やまあそぶ</span>
                    <span class="word">yamaasobu</span>
                    <span class="word">ヤマアソブ</span>
                </p>
            </div>
            <div class="side">}</div>
        </div>
    </div>
    <div class="mv-swiper swiper">
        <div class="swiper-wrapper mv-swiper-wrapper">
            <div class="swiper-slide item">
                <a href="#map">
                    <div class="item_ph">
                        <img src="<%= rootURL %>/assets/img/mv_map.png" alt="">
                    </div>
                    <div class="mv-swiper-text-wrap">
                        <p class="mv_swiper-ttl zen_m">
                            map
                        </p>
                        <p class="mv_swiper-text zen_b">
                            多様な地形で楽しむアクティビティ。<br>
                            シチュエーションに適した<br>
                            アイテムを紹介します。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="#how">
                    <div class="item_ph">
                        <img src="<%= rootURL %>/assets/img/mv_how.png" alt="">
                    </div>
                    <div class="mv-swiper-text-wrap">
                        <p class="mv_swiper-ttl zen_m">
                            how
                        </p>
                        <p class="mv_swiper-text zen_b">
                            多様な地形で楽しむアクティビティ｡<br>
                            シチュエーション別にアイテムを紹介｡
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="#do">
                    <div class="item_ph item_ph1">
                        <img src="<%= rootURL %>/assets/img/mv_do.png" alt="">
                    </div>
                    <div class="mv-swiper-text-wrap">
                        <p class="mv_swiper-ttl zen_m">
                            do
                        </p>
                        <p class="mv_swiper-text zen_b">
                            多様な地形で楽しむアクティビティ｡<br>
                            シチュエーション別にアイテムを紹介｡
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="#field">
                    <div class="item_ph">
                        <img src="<%= rootURL %>/assets/img/mv_how.png" alt="">
                    </div>
                    <div class="mv-swiper-text-wrap">
                        <p class="mv_swiper-ttl zen_m">
                            field map
                        </p>
                        <p class="mv_swiper-text zen_b">
                            多様な地形で楽しむアクティビティ｡<br>
                            シチュエーション別にアイテムを紹介｡
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-pagination input"></div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</div>
<div class="mv_line yamaasobu-section" id="mvline">
    <div class="line-wrap">
        <p class="line-txt line-ja">&emsp;初めての人も知識のある人も<span>｢</span><span class="bound">山</span><span class="bound">で</span><span class="bound">遊</span><span class="bound">ぶ</span><span>｣</span>がもっと楽しくなる｡</p>
        <p class="line-txt line-en">Whether you're a beginner or an experienced hiker, <br><span>"</span><span class="bound">playing</span> <span class="bound">in</span> <span class="bound">the</span> <span class="bound">mountains</span><span>"</span> </span>will be more fun.</p>
    </div>
    <div class="line-wrap">
        <p class="line-txt line-ja">&emsp;初めての人も知識のある人も<span>｢</span><span class="bound">山</span><span class="bound">で</span><span class="bound">遊</span><span class="bound">ぶ</span><span>｣</span>がもっと楽しくなる｡</p>
        <p class="line-txt line-en">Whether you're a beginner or an experienced hiker, <br><span>"</span><span class="bound">playing</span> <span class="bound">in</span> <span class="bound">the</span> <span class="bound">mountains</span><span>"</span> </span>will be more fun.</p>
    </div>
</div>



