
<section class="weather-wrap yamaasobu-section" id="weather">
    <!-- 1つ目のweather-info -->
    <div class="weather-info">
        <div class="area-weather-wrap"><div class="area-weather" id="tokyo"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="nagano"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="sapporo"></div></div> 
        <div class="area-weather-wrap"><div class="area-weather" id="kumamoto"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="matsuyama"></div></div> 
        <div class="area-weather-wrap"><div class="area-weather" id="yamagata"></div></div>
        
    </div>

    <!-- 2つ目のweather-info -->
    <div class="weather-info">
        <div class="area-weather-wrap"><div class="area-weather" id="tokyo-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="nagano-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="sapporo-2"></div></div> 
        <div class="area-weather-wrap"><div class="area-weather" id="kumamoto-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="matsuyama-2"></div></div> 
        <div class="area-weather-wrap"><div class="area-weather" id="yamagata-2"></div></div>
        
    </div>
</section>

