
<section class="weather-wrap yamaasobu-section" id="weather">
    <!-- 1つ目のweather-info -->
    <div class="weather-info">
        <div class="area-weather-wrap"><div class="area-weather" id="tokyo"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="osaka"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="okinawa"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="sapporo"></div></div> <!-- 北海道を札幌に変更 -->
        <div class="area-weather-wrap"><div class="area-weather" id="fukuoka"></div></div>
    </div>

    <!-- 2つ目のweather-info -->
    <div class="weather-info">
        <div class="area-weather-wrap"><div class="area-weather" id="tokyo-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="osaka-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="okinawa-2"></div></div>
        <div class="area-weather-wrap"><div class="area-weather" id="sapporo-2"></div></div> <!-- 札幌の新しいID -->
        <div class="area-weather-wrap"><div class="area-weather" id="fukuoka-2"></div></div>
    </div>
</section>

