@use './_reset';
@use './_mixin' as *;


$spw : 375;
$pcw : 1440;

 $txt:#DD2F0E;
 
 body{
   &.noscroll {
      overflow: hidden;
   }
}

.yamaasobu-wrapper{
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: 400;
  font-style: normal;   
  background-size: 400px;
  background-repeat: repeat;
  background-image: url(../img/bg.png);
}

 .yamaasobu{
  background-image: url(../img/bg_sp.gif);
  background-size: 100%;
  background-repeat: repeat-y;
  @include pc{
    background-image: url(../img/bg_pc.gif);
  }
}


 .zen_r{
   font-family: zen-kaku-gothic-new, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 .zen_m{
    // font-family: zen-kaku-gothic-new, sans-serif;
    font-family: dnp-shuei-gothic-gin-std, sans-serif;
    font-weight: 500;
    font-style: normal;
 }

 .zen_b{
    font-family: dnp-shuei-gothic-gin-std, sans-serif;
    font-weight: 600;
    // font-family: zen-kaku-gothic-new, sans-serif;
    // font-weight: 700;
    font-style: normal;
 }

 .zen_black{
    font-family: input-mono-compressed, monospace;
    font-weight: 800;
    font-style: normal;
 }

 .sic{
    font-family: sichandich, sans-serif;
    font-weight: 400;
    font-style: normal;
 }


 .input{
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
 }
 

 @keyframes loop {
   0% {
     transform: translateX(100%);
   }
   to {
     transform: translateX(-100%);
   }
}

@keyframes loop2 {
   0% {
     transform: translateX(0);
   }
   to {
     transform: translateX(-200%);
   }
}
 

 @keyframes loop3 {
   0% {
     transform: translateX(100%);
   }
   to {
     transform: translateX(-110%);
   }
}

@keyframes loop4 {
   0% {
     transform: translateX(0);
   }
   to {
     transform: translateX(-210%);
   }
}
 

 @keyframes loop5 {
   0% {
     transform: translateX(100%);
   }
   to {
     transform: translateX(-105%);
   }
}

@keyframes loop6 {
   0% {
     transform: translateX(0);
   }
   to {
     transform: translateX(-205%);
   }
}

.sp{
   display: block;
   @include pc{
      display: none;
   }
}

.pc{
   display: none;
   @include pc{
      display: block;
   }
}

@keyframes furafura {
  0%,100% {
      transform: translateY(7px);
  }
  50% {
      transform: translateY(-7px);
  }
}
@keyframes furafura_2 {
  0%,100% {
      transform: translateY(-7px);
  }
  50% {
      transform: translateY(7px);
  }
}


@keyframes wiggle {
  0% {
      transform: skewX(0) skewY(0) translateY(1px);
  }
  17% {
      transform: skewX(.3deg) skewY(.1deg) translate(-1px, -1px);
  }

  20% {
      transform: skewX(-.3deg) skewY(-.1deg) translate(1px);
  }

  32% {
      transform: skewX(.3deg) skewY(0deg) translate(0);
  }
  48% {
      transform: skewX(0deg) skewY(0deg) translate(0);
  }
  63% {
      transform: skewX(-.3deg) skewY(-.1deg) translate(1px);
  }
  79% {
      transform: skewX(-.1deg) skewY(.1deg) translateY(-1px);
  }

  90% {
      transform: skewX(-.3deg) skewY(-.1deg) translate(1px);
  }
  
  100% {
      transform: skewX(0deg) skewY(0deg) translate(0);
  }
}

@keyframes text-kata {  
  0% {
      opacity: 0;
      transform: rotate(-8deg) translate(-3px, 0);
  }

  34% {
      opacity: 1;
      transform: rotate(-8deg) translate(-3px, 0);
  }
  35% {
      opacity: 1;
      transform: rotate(-1deg) translate(0, -2px);
  }
  69% {
      opacity: 1;
      transform: rotate(-1deg) translate(0, -2px);
  }
  70% {
      opacity: 1;
      transform: rotate(1deg) translate(0, -1px);
  }
  99% {
      opacity: 1;
      transform: rotate(1deg) translate(0, -1px);
  }
  100% {
      opacity: 1;
      transform: rotate(0deg) translate(0, 0);
  }
}